langchain
langchainhub
langchain-community
langchain_core
langchain_openai
langchain_text_splitters
openai
SQLAlchemy
streamlit
pypdf
fastembed
docarray
validators
python-dotenv
faiss-cpu
langgraph
langsmith
langchain_anthropic
flashrank